.question-text {
  color: #164687;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}
.horizontal-line {
  color: #979797;
  border: 1px solid #9797973f;
  background: #9797973f;
}
.image-options-container {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .image-options-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.normal-option-img {
  background: none;
  border: none;
  outline: none;
  margin-bottom: 0px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .normal-option-img {
    margin-right: 40px;
  }
}
.selected-option-img{
  border: 2px solid #263868;
  background: none;
  margin-bottom: 0px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .selected-option-img {
    margin-right: 40px;
  }
}
.image {
  width: 70vw;
  height: 64px;
}
@media screen and (min-width: 768px) {
  .image {
    width: 350px;
    height: 64px;
    margin: 0px;
  }
}
